/* CSS for the navbar */
.navbar {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for number input and button */
input[type="number"], button {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* CSS for text input and button (uncomment if needed) */
/*
input[type="text"], button {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*/

/* CSS for button */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #337ab7; /* Changed to blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2e6da4; /* Changed to darker shade of blue */
  }
  
  

/* CSS for headings */
h3 {
    margin-top: 20px;
}

/* CSS for additional info */
i {
    color: #888;
}

/* Media Queries for Responsive Design */

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .navbar {
        max-width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar {
        max-width: 60%;
    }
}

/* CSS for center-aligning the copyright notice */
.copyright {
    display: block;
    text-align: center;
    font-size: smaller;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar {
        max-width: 40%;
    }
}
